<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449919851674-51738aqp83ubnd5of7rucpveehohfrg9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449919851674-51738aqp83ubnd5of7rucpveehohfrg9</string>
	<key>API_KEY</key>
	<string>AIzaSyCjvIBAfJ5fGroYrYcE25PQGE9dJ0qNz38</string>
	<key>GCM_SENDER_ID</key>
	<string>449919851674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dogukaan.E-Store</string>
	<key>PROJECT_ID</key>
	<string>e-store-dc579</string>
	<key>STORAGE_BUCKET</key>
	<string>e-store-dc579.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449919851674:ios:d4ca48cdfd773e9816d323</string>
	<key>DATABASE_URL</key>
	<string>https://e-store-dc579-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>